$color_sombra: gray;
$color_titulo: darkslategray;
$color_letra: black;
.tarjeta{
    width: 95.5%;
    box-shadow: 0px 0px 1px $color_sombra;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
    height: 95%;
}
.tarjeta:hover{
    box-shadow: 0px 1px 4px $color_sombra;
}
.tarjeta img{
    display: block;
    width: 81%;
    height: 190px;
    transition: transform .2s;
    margin-left: 10%;
    margin-top: 12px;
}

.tarjeta img:hover{
  transform: scale(1.025);
}

.tarjeta .cuerpo .titulo-tarjeta{
    text-shadow: 0px 1px 3px $color_sombra;
    color: $color_titulo;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.tarjeta .cuerpo .descripcion{
    color: $color_letra;
    font-size: 13px;
    font-family: Arial ;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: justify;
}

